<div class="input" *ngFor="let todo of todos">
  <div class="todo-item">
    <div class="todo-check-item">
        <input
          *ngIf="todo !== editableTodo"
          type="checkbox"
          [checked]="todo.isComplete"
          (change)="onToggleTodoStatus.emit(todo)"
          [id]="todo.id"
        />
      <label [for]="todo.id" class="todo-description">
          <div
            *ngIf="todo !== editableTodo; else displayContentEditable"
            [class.finished]="todo.isComplete"
            [attr.contenteditable]="todo === editableTodo">
            {{todo.name}}
          </div>
          <ng-template #displayContentEditable>
            <div
              class="editable"
              [class.finished]="todo.isComplete"
              [attr.contenteditable]="todo === editableTodo"
              (keyup)="updateEditableTodo($event.target.textContent)"
              (keypress)="checkFinishEditing($event, $event.target.textContent)">
              {{tempVal}}
            </div>
          </ng-template>
          <time>{{formatTime(todo.creationTime)}}</time>
          <!--(keypress)="onTodoEdition.emit($event,  $event.target.textContent)">  -->

      </label>
    </div>
    <div class="todo-buttons">
      <button (click)="onDeleteTodo.emit(todo)">x</button>
      <button (click)="editTodo(todo,todo.name)">Edit</button>
    </div>
  </div>
</div>
