.input{
  display: flex;
  justify-content: center;
}
.finished{
  text-decoration: line-through;
  opacity: 0.5;
  color:grey;
}
.todo-item{
  min-width: 50%;
  display: flex;
  justify-content: space-between;
}
.todo-checklist{
  display: flex;
}
div{
  transition: 0.5s;
}
.editable{
  border: 0.1px solid blue;
}
.todo-description {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.todo-check-item {
  width: 85%;
  display: flex;
}
.todo-buttons {
  display: flex;
}
p {
  margin: 0;
}
