.todos-container{
  display: flex;
  justify-content: center;
}
.finished{
  text-decoration: line-through;
  opacity: 0.5;
  color:grey;
}
.todo-item{
  min-width: 50%;
  display: flex;
  justify-content: space-between;
}
.todo-checklist{
  display: flex;
}
label{
  transition: 0.5s;
}
.editable{
  border: 0.1px solid blue;
}
.todo-description {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.todo-check-item {
  width: calc(100% - 62px);
  display: flex;
}
.todo-buttons {
  display: flex;
  width: 62px;
}
.todo-buttons button:nth-child(1) {
  width: 33%;
}
.todo-buttons button:nth-child(2) {
  width: 67%;
}
