<div class="todos-container" *ngFor="let todo of todos">
  <div class="todo-item">
    <div class="todo-check-item">
        <input
          *ngIf="todo !== editableTodo"
          type="checkbox"
          [checked]="todo.isComplete"
          (change)="toggleTodoStatus(todo)"
          [id]="todo.id"
          title="status of the todo item"
        />
      <label [for]="todo.id"
             class="todo-description"
             *ngIf="todo !== editableTodo; else displayContentEditable"
             [class.finished]="todo.isComplete"
             [attr.contenteditable]="todo === editableTodo"
      >
          <!--<p-->
            <!--&gt;-->
            {{todo.name}}
      <time *ngIf="todo !== editableTodo" class="time">{{formatTime(todo.creationTime)}}</time>
      </label>

      <!--</p>-->
          <ng-template #displayContentEditable>
            <label
              [for]="todo.id"
              class="editable"
              [class.finished]="todo.isComplete"
              [attr.contenteditable]="todo === editableTodo"
              (keyup)="updateEditableTodo($event.target.textContent)"
              (keypress)="checkFinishEditing($event, $event.target.textContent)">
              {{tempVal}}
              <time *ngIf="todo !== editableTodo">{{formatTime(todo.creationTime)}}</time>
            </label>
          </ng-template>
    </div>
    <div class="todo-buttons">
      <button (click)="onDeleteTodo.emit(todo.id)">x</button>
      <button (click)="editTodo(todo,todo.name)">Edit</button>
    </div>
  </div>
</div>
